# Firebase beállítások
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Ngrok hitelesítési token
NGROK_AUTH_TOKEN=

# MQTT hitelesítés
MQTT_USER=vehicleguard
MQTT_PASSWORD=
